
        body{
            background-color: white;
        }
        h2,h3,h2{
            color: #66BFBF
        }
        hr{
            
            background-color:;
            border-style: dotted none none ;
             border-color: grey;
             height: 0.1px;
            width: 30%;
            border-width:5px;
            

        }